* {
  margin: 0;
  padding: 0;
}
 
body{
  background-color: antiquewhite;
  font-size: 16px;
  box-sizing: border-box;
}

main{
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 90%;
  width: 36em;
  margin: auto;
  margin-top: 11rem;
  margin-bottom: 10%;
  border-radius: 15px;
  
}


.image-container{
  background-image: url(/image/product_image.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 10px 0 0 10px;
  background-repeat: no-repeat;
}

.product_info{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.4rem;
}

h1{
  font-family: Arial;
  letter-spacing: 6px;
  font-weight: lighter;
  font-size: 13px;
}

h2{
  font-size: 1.9rem;
  line-height: 2rem;
  font-weight: 700;
}

.product_view{
  line-height: 1em;
}

.price{
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
}

.price p{
  color: #204727;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
  font-weight: bold;
}

button{
  border: 1px solid green;
  background-color: #204727;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  padding: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}


